h1#pageTitle{
    color: grey;
    text-align: center;
}
p#welcomeMessage{
    color: black;
    text-align: center;
}

form#addTask{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
form#addTask h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
form#addTask input[type="text"],
form#addTask input[type="date"],
form#addTask input[type="datetime"],
form#addTask input[type="email"],
form#addTask input[type="number"],
form#addTask input[type="search"],
form#addTask input[type="time"],
form#addTask input[type="url"],
form#addTask textarea,
form#addTask select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
form#addTask input[type="text"]:focus,
form#addTask input[type="date"]:focus,
form#addTask input[type="datetime"]:focus,
form#addTask input[type="email"]:focus,
form#addTask input[type="number"]:focus,
form#addTask input[type="search"]:focus,
form#addTask input[type="time"]:focus,
form#addTask input[type="url"]:focus,
form#addTask textarea:focus,
form#addTask select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

form#addTask input[type="submit"],
form#addTask input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
form#addTask input[type="submit"]:hover,
form#addTask input[type="button"]:hover{
	background: #2EBC99;
}

form#addTask input[type="radio"]{
	width:23px;
	height:23px;
	display:inline-block;
    border:2px solid #fff;
	text-align:center;
	line-height:20px;
	margin-right:6px;
	border-radius:3px;
    cursor:pointer;
    margin-bottom: 10px;
}