section.list-cnt
  header.list-header
    h2.list-title
      | Lista zadań
    form.list-search-form
      input#todoSearch.list-search(type='search' onkeyup='search()')
  #todoList.list
    //- .element //Struktura 1 zadania
    //-     .element-bar
    //-         h3.element-title Tytuł zadania
    //-         button.element-delete(title='Usuń task')
    //-     .element-details
    //-         h3.element-priority Priorytet
    //-         h3.element-id  ID Elementu
    //-     .element-text
    //-     |Opis danego zadania.

