doctype html
!= `<html lang="pl">`
head
     title ToDo App Nodejs, MongoDb, Pug
     meta(charset="utf-8")
     meta(name="description" content="Test Page Pug")
     meta(name="keywords" content="nodejs, pug, mongodb")
     meta(name="author" content="Emil Dworniczak")
     script(src='../views/js/main.js')
body
     header#pageTitleHeader
          h1#pageTitle Learn Node + MongoDb (Todo App)

//-     <ul id="todo-list"></ul>
//-     <div id="todo-stats"></div>          
