doctype html
!= `<html lang="pl">`
head
     title ToDo App Nodejs, MongoDb, Pug
     meta(charset="utf-8")
     meta(name="description" content="Test Page Pug")
     meta(name="keywords" content="nodejs, pug, mongodb")
     meta(name="author" content="Emil Dworniczak")
     script(src='../views/js/main.js')
body
p #{name} Strona startowa
